h1, h2 {
  border-bottom: 1px solid #444444;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
}

li {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 2rem;
}